<ul>
    <li class="{% if page.url contains '/spring/home/' %}active{% endif %}"><a href="/docs/spring/home">Overview</a></li>
    <li class="{% if page.url contains '/spring/layout/' %}active{% endif %}"><a href="/docs/spring/layout">Project layout</a></li>
    <li class="{% if page.url contains '/spring/jpa/' %}active{% endif %}"><a href="/docs/spring/jpa">JPA support</a></li>
    <li class="{% if page.url contains '/spring/mongo/' %}active{% endif %}"><a href="/docs/spring/mongo">MongoDB support</a></li>
    <li class="{% if page.url contains '/spring/web-common/' %}active{% endif %}"><a href="/docs/spring/web-common">Web common</a></li>
</ul>