<ul>
    <li class="{% if page.url == '/docs/backbone/' %}active{% endif %}"><a href="/docs/backbone/">Overview</a></li>
    <li class="{% if page.url contains '/backbone/layout/' %}active{% endif %}"><a href="/docs/backbone/layout">Project layout</a></li>
    <li class="{% if page.url contains '/backbone/resthub-view/' %}active{% endif %}"><a href="/docs/backbone/resthub-view">Resthub.View</a></li>
    <li class="{% if page.url contains '/backbone/templating/' %}active{% endif %}"><a href="/docs/backbone/templating">Templating</a></li>
    <li class="{% if page.url contains '/backbone/pushstate/' %}active{% endif %}"><a href="/docs/backbone/pushstate">PushState</a></li>
    <li class="{% if page.url contains '/backbone/internationalization/' %}active{% endif %}"><a href="/docs/backbone/internationalization">Internationalization</a></li>
    <li class="{% if page.url contains '/backbone/logging/' %}active{% endif %}"><a href="/docs/backbone/logging">Logging</a></li>
    <li class="{% if page.url contains '/backbone/validation/' %}active{% endif %}"><a href="/docs/backbone/validation">Validation</a></li>
    <li class="{% if page.url contains '/backbone/third-party/' %}active{% endif %}"><a href="/docs/backbone/third-party">Third party libs</a></li>
    <li class="{% if page.url contains '/backbone/guidelines/' %}active{% endif %}"><a href="/docs/backbone/guidelines">Guidelines</a></li>
    <li class="{% if page.url contains '/backbone/tutorial/' %}active{% endif %}"><a href="/docs/backbone/tutorial">Tutorial</a></li>
    <li><a href="https://github.com/resthub/resthub-backbone-stack/issues" target="_blank">Bugtracker</a></li>
    <li><a href="https://github.com/resthub/resthub-backbone-stack" target="_blank">Source code</a></li>
</ul>