<footer class="footer" data-swiftype-index='false'>
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-2">
                <strong>Components:</strong>
            </div>
            <div class="col-sm-10 components">
                <span class="component"><a href="https://github.com/resthub/resthub-spring-stack">Spring Stack</a> &nbsp; <a href="http://travis-ci.org/resthub/resthub-spring-stack"><img class="build-status" alt="Spring Stack Build Status" src="https://secure.travis-ci.org/resthub/resthub-spring-stack.png?branch=master"></a></span>
                <span class="component"><a href="https://github.com/resthub/resthub-backbone-stack">Backbone  Stack</a> &nbsp; <a href="http://travis-ci.org/resthub/resthub-backbone-stack"><img class="build-status" alt="Backbone Stack Build Status" src="https://secure.travis-ci.org/resthub/resthub-backbone-stack.png"></a></span>
                <span class="component"><a href="https://github.com/resthub/springmvc-router">SpringMVC  Router</a> &nbsp; <a href="http://travis-ci.org/resthub/springmvc-router"><img class="build-status" src="https://secure.travis-ci.org/resthub/springmvc-router.png?branch=master" alt="SpringMVC Build Status"></a></span>
                <span class="component"><a href="https://github.com/resthub/spring-amqp-hessian">Spring AMQP Hessian</a> &nbsp; <a href="https://travis-ci.org/resthub/spring-amqp-hessian"><img class="build-status" src="https://travis-ci.org/resthub/spring-amqp-hessian.png?branch=master" alt="AMQP Hessian Build Status"></a></span>
            </div>
        </div>
        <div class="row visible-xs">
            <div class="col-xs-12 components">
                <span class="component"><a href="https://github.com/resthub/resthub-spring-stack">Spring</a> &nbsp; <a href="http://travis-ci.org/resthub/resthub-spring-stack"><img class="build-status" alt="Spring Stack Build Status" src="https://secure.travis-ci.org/resthub/resthub-spring-stack.png?branch=master"></a></span>
                <span class="component"><a href="https://github.com/resthub/resthub-backbone-stack">Backbone</a> &nbsp; <a href="http://travis-ci.org/resthub/resthub-backbone-stack"><img class="build-status" alt="Backbone Stack Build Status" src="https://secure.travis-ci.org/resthub/resthub-backbone-stack.png"></a></span>
                <span class="component"><a href="https://github.com/resthub/springmvc-router">Router</a> &nbsp; <a href="http://travis-ci.org/resthub/springmvc-router"><img class="build-status" src="https://secure.travis-ci.org/resthub/springmvc-router.png?branch=master" alt="SpringMVC Build Status"></a></span>
                <span class="component"><a href="https://github.com/resthub/spring-amqp-hessian">AMQP Hessian</a> &nbsp; <a href="https://travis-ci.org/resthub/spring-amqp-hessian"><img class="build-status" src="https://travis-ci.org/resthub/spring-amqp-hessian.png?branch=master" alt="AMQP Hessian Build Status"></a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7 team">
                Site by <a href="https://twitter.com/bmeurant">@bmeurant</a>, contents by <a href="https://github.com/resthub?tab=members">RESThub Team</a>.
            </div>
            <div class="col-xs-12 col-sm-7 engine">
                Made with <a href="http://daringfireball.net/projects/markdown/">Markdown</a>, <a href="http://jekyllrb.com//">Jekyll</a> & <a href="http://getbootstrap.com/">Bootstrap</a>, hosted on <a href="http://pages.github.com/">Github</a>
            </div>
        </div>
        <div class="row credentials">
            <div class="col-xs-12">
                ©
                <script type="text/javascript"> var d = new Date();
                document.write(d.getFullYear());</script>
                <a href="http://resthub.org">RESThub</a>, <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 Licence</a>
            </div>
        </div>
    </div>
</footer>