<nav class="section-nav row">
    <div class="col-xs-6 text-right">
        <a href="{{ site.url }}/docs/{{ page.prev }}/" class="btn btn-lg btn-primary prev {% if page.prev == null %}disabled{% endif %}">
            <span class="glyphicon glyphicon-chevron-left"></span>Prev
        </a>
    </div>
    <div class="col-xs-6 text-left">
        <a href="{{ site.url }}/docs/{{ page.next }}/" class="btn btn-lg btn-primary next {% if page.next == null %}disabled{% endif %}">
             Next <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="clear"></div>
</nav>