---
layout: default
---

<section class="row news">

    <nav class="collapsible-menu visible-xs" data-swiftype-index='false'>
        <button type="button" class="btn btn-nav toggle-menu">
            Navigate <span class="caret"></span>
        </button>
        <div class="menu hidden">
            {% include news_menu.html %}
        </div>
    </nav>

    <div class="col-xs-12 col-sm-9">
        {{ content }}
    </div>

    <nav class="menu aside hidden-xs hidden-xs col-sm-3" data-swiftype-index='false'>
        {% include news_menu.html %}
    </nav>

    <div class="clear"></div>
</section>