---
layout: news
---

<div class="row">
    <article class="col-xs-12">
        <h1>
            <a href="{{ page.url }}">
                {{ page.title }}
            </a>
        </h1>
        <div class="post-meta">
            <span class="post-date">
              {{ page.date | date_to_string }}
            </span>
            by
            <a href="https://github.com/{{ page.author }}" class="post-author">
                <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}"/>
                {{ page.author }}
            </a>
        </div>
        <div class="post-type">
            <span class="post-category">
                {% for category in page.categories %}
                <a href="/news/releases" class="btn btn-primary">{{ category }}</a>
                {% endfor %}
            </span>
            <span class="post-tags pull-right">
                {% for tag in page.tags %}
                <a href="/news/{{ tag }}" class="btn btn-default">{{ tag }}</a>
                {% endfor %}
            </span>
        </div>

        <div class="post-content">
            {{ content }}
        </div>
    </article>
</div>
