@import "/bower_components/bootstrap/less/bootstrap.less";

@resthub-brown-color: #34302d;
@resthub-orange-color: #d4571e;
@resthub-orange-brown-color: #A94C21;
@resthub-intermediate-brown-color: #494543;
@resthub-medium-brown-color: #CBC4C1;
@resthub-light-brown-color: #e0dcd9;
@resthub-white-color: #f5f5f5;
@resthub-code-color: #636C7F;

@warning-start-color: @resthub-orange-color;
@warning-stop-color: @resthub-orange-brown-color;
@warning-font-color: @resthub-light-brown-color;
@warning-border-color: @resthub-light-brown-color;
@info-start-color: #856A4F;
@info-stop-color: #654321;
@info-font-color: @resthub-light-brown-color;
@info-border-color: @resthub-light-brown-color;

@min-width: 306px;
@min-height: 100%;
@screen-xxs-max: (@screen-xs - 1px);
//@screen-sm-min: 568px;
//@screen-md-min: 768px;

@link-color: @resthub-orange-color;
@navbar-border-radius: none;
@navbar-inverse-bg: @resthub-brown-color;
@navbar-inverse-color: @resthub-white-color;
@navbar-inverse-link-color: @resthub-orange-color;
@navbar-inverse-link-active-color: @resthub-brown-color;
@navbar-inverse-link-active-bg: @resthub-orange-color;
@navbar-inverse-link-active-hover-color: @resthub-white-color;
@navbar-inverse-link-hover-bg: @resthub-orange-color;
@navbar-inverse-link-hover-color: @resthub-brown-color;
@padding-base-vertical: 0;

@navbar-height: 74px;
@navbar-height-xs: 50px;
@navbar-padding-vertical-xs: ((@navbar-height-xs - @line-height-computed) / 2);
@navbar-padding-horizontal-xs: 6px;
@navbar-padding-horizontal-xxs: 5px;

@grid-float-breakpoint: 0px;
@font-family-sans-serif: 'Lato', Arial, sans-serif;

@font-size-xxl: 27px;
@font-size-xl: 21px;
@font-size-large: 18px;
@font-size-base: 16px;
@font-size-small: 14px;
@font-size-small-xxs: 12px;
@font-size-code: (@font-size-base - 2px);
@menu-font-size: @font-size-small;
@menu-font-weight: 900;

@font-size-base-xs: 14px;
@font-size-code-xs: (@font-size-base-xs - 2px);
@font-size-h1-xs: floor(@font-size-base-xs * 2.6);
@font-size-h2-xs: floor(@font-size-base-xs * 2.15);
@font-size-h3-xs: ceil(@font-size-base-xs * 1.7);
@font-size-h4-xs: ceil(@font-size-base-xs * 1.25);
@font-size-h5-xs: @font-size-base-xs;
@font-size-h6-xs: ceil(@font-size-base-xs * 0.85);

@font-size-base-xxs: 13px;
@font-size-code-xxs: (@font-size-base-xxs - 2px);
@font-size-h1-xxs: floor(@font-size-base-xxs * 2.6);
@font-size-h2-xxs: floor(@font-size-base-xxs * 2.15);
@font-size-h3-xxs: ceil(@font-size-base-xxs * 1.7);
@font-size-h4-xxs: ceil(@font-size-base-xxs * 1.25);
@font-size-h5-xxs: @font-size-base-xxs;
@font-size-h6-xxs: ceil(@font-size-base-xxs * 0.85);

@btn-primary-color: @resthub-orange-color;
@btn-primary-bg: @resthub-intermediate-brown-color;
@btn-primary-border: transparent;

@btn-default-color: @resthub-orange-color;
@btn-default-bg: @resthub-light-brown-color;
@btn-default-border: @resthub-orange-color;

.alert-background(@start-color, @stop-color, @font-color, @border-color) {
  background: @start-color;
  background: -moz-linear-gradient(top, @start-color 0%, @stop-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start-color), color-stop(100%, @stop-color));
  background: -webkit-linear-gradient(top, @start-color 0%, @stop-color 100%);
  background: -o-linear-gradient(top, @start-color 0%, @stop-color 100%);
  background: -ms-linear-gradient(top, @start-color 0%, @stop-color 100%);
  background: linear-gradient(to bottom, @start-color 0%, @stop-color 100%);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start-color}, endColorstr='@{stop-color}', GradientType=0)";
  border-color: @border-color;
  color: @font-color;
}

html, body {
  height: 100%;
  min-height: @min-height;
}

body {
  background: @resthub-intermediate-brown-color;
  color: @resthub-white-color;
  min-width: @min-width;
  font-weight: 300;
  position: relative;
}

.btn-lg {
  .glyphicon {
    font-size: @font-size-base;
  }
}

header {
  margin-bottom: 20px;
}

.navbar {
  border-top: 4px solid @resthub-orange-color;
  border-bottom: none;
  border-left: none;
  border-right: none;
  min-width: @min-width;
  font-size: @font-size-small;

  .navbar-brand {
    width: 40px;
    margin-right: 20px;
    background-image: url("/assets/img/resthub-logo-small.png");
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-image: url("/assets/img/resthub-logo-small-orange.png");
    }
  }

  .navbar-nav {
    font-weight: 900;
    text-transform: uppercase;

    > .active > a:hover {
      color: @navbar-inverse-link-active-hover-color;
    }

    &.navbar-contacts {
      margin-left: 15px;

      > li > a {
        &:hover {
          color: @resthub-orange-color;
          background-color: inherit;
        }
      }
    }

    &.navbar-search {
      margin-left: 30px;
    }

    &.navbar-contacts, &.navbar-search {
      font-size: @font-size-xxl;

      > li > a {
        padding-left: 8px;
        padding-right: 8px;
        color: @resthub-white-color;
        padding-top: (@navbar-padding-vertical - 3px);
        padding-bottom: (@navbar-padding-vertical - 3px);
      }
    }
  }

  .navbar-form {

    margin-top: 23px;
    margin-bottom: 23px;

    .btn {
      border: none;
      background: inherit;
      box-shadow: none;

      i {
        font-size: @font-size-xxl;
      }

      &:hover {
        color: @resthub-orange-color;
      }
    }
  }
}

.search-form {
  width: 100%;
  z-index: 1000;

  &.hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .container {
    background-color: @resthub-light-brown-color;
  }

  form {
    input {
      padding: 20px 10px;
      padding-right: 75px;
      border: none;
      height: 30px;
      line-height: 29px;
      width: 80%;
      background-color: transparent;
    }

    button {
      border: none;
      margin-top: 6px;
      float: right;
      color: @resthub-orange-color;
      background-color: transparent;
    }
  }

}

#main.container {
  padding-bottom: 80px;
  min-height: 96.5%;
  text-align: center;
}

.overview {
  img {
    max-width: 100%;
  }

  font-size: @font-size-xl;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

article {
  background: @resthub-medium-brown-color;
  color: @resthub-brown-color;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  position: relative;
  font-weight: 500;
  min-height: 700px;
  padding-top: 20px;
  padding-bottom: 20px;

  &.col-md-9 {
    padding: 40px 40px 30px;
  }

  h1 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
  }

  h2 {
    margin-top: 40px;
  }

  h3 {
    margin-top: 30px;
  }

  h1, h2, h3 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  p {
    margin: 20px 0;
  }

  .toc {
    margin-left: auto;
    margin-right: auto;
    background-color: #A09A98;
    border: none;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 5px;

    ol > li > ol {
      padding-bottom: 0;
    }

    i {
      font-weight: 900;
      text-transform: uppercase;
      font-style: normal;
      padding-bottom: 10px;
      display: inline-block;
    }

    ol {
      padding-bottom: 15px;
      padding-left: 35px;
    }

    a {
      color: @resthub-brown-color;

      &:hover {
        border-color: @resthub-brown-color;
      }
    }
  }

  .build-status {
    margin-top: -13px;
  }

  .section-nav {
    margin-top: 30px;

    .btn {
      text-shadow: 0 -1px 0 @resthub-brown-color;
    }

    .text-right .btn .glyphicon {
      margin-left: 8px;
    }

    .text-left .btn .glyphicon {
      margin-right: 8px;
    }
  }
}

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
  background: none;
}

pre {
  overflow-x: auto;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1),0 -1px 0 rgba(0, 0, 0, .5);
  background: @resthub-brown-color;
  color: @resthub-white-color;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 5px;
  border: none;
  line-height: 1;
}

code {
  color: @resthub-code-color;
}

pre code {
  font-size: @font-size-code;
  overflow-wrap: normal;
  white-space: pre;
}

.collapsible-menu {
  width: 100%;

  button.btn {
    display: block;
    height: 40px;

    .caret {
      margin-left: 5px;
    }

    &.btn-nav {
      color: @resthub-medium-brown-color;
      background-color: @resthub-intermediate-brown-color;
      border-color: @resthub-medium-brown-color;

      &:hover, &.open, &.open:focus {
        color: @resthub-brown-color;
        background-color: @resthub-medium-brown-color;
        border-color: @resthub-medium-brown-color;
      }

      &:focus {
        outline: none;
        color: @resthub-brown-color;
        background-color: @resthub-medium-brown-color;
        border-color: @resthub-medium-brown-color;
      }
    }

    &.open {
      font-weight: 700;
    }
  }

  div, p, button {
    width: 100%;
    margin: 0 auto 5px auto;
    border: 2px solid @resthub-light-brown-color;
  }

  .menu {
    padding: 10px 20px;
    border-radius: 4px;
  }

  margin-bottom: 20px;
}

.menu {

  h4 {
    font-size: @menu-font-size;
    text-transform: uppercase;
    color: @resthub-white-color;
    font-weight: @menu-font-weight;
    text-decoration: none;
    border-bottom: 2px solid @resthub-orange-color;
    padding-bottom: 5px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;

    li {
      padding-left: 20px;
      & > a {
        color: @resthub-white-color;
        font-size: @menu-font-size;
      }

      &.active {
        background-color: @resthub-medium-brown-color;
        border-radius: 7px;

        & > a {
          color: @resthub-intermediate-brown-color;
          font-weight: 700;
        }
      }
    }
  }

  &.aside {
    padding-left: 30px;
    padding-top: 20px;
  }

}

.btn-xxl {
  font-size: 25px;
  padding: 15px 30px;
  margin: 30px;
  border-width: 6px;
}

.btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 0 0 rgba(255, 255, 255, .5);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;

  &.btn-primary {
    border: none;
    &:hover, &:focus {
      color: @resthub-white-color;
      background-color: @resthub-orange-color;
    }
  }

  &.btn-default {
    border: 3px solid;

    &:hover, &:focus {
      color: @resthub-white-color;
      background-color: @resthub-intermediate-brown-color;
      border-color: @resthub-white-color;
    }
  }
}

.alert {
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 700;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: transparent;

  a {
    color: @resthub-brown-color;

    &:hover, &:focus {
      color: black;
    }
  }

  &:before {
    color: @resthub-light-brown-color;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    font-family: FontAwesome;
  }

  &.alert-warning {
    .alert-background(@warning-start-color, @warning-stop-color, @warning-font-color, @warning-border-color);

    &:before {
      content: "\f071";
    }
  }

  &.alert-info {
    .alert-background(@info-start-color, @info-stop-color, @info-font-color, @info-border-color);

    &:before {
      content: "\f05a";
    }
  }
}

footer {
  background-color: @navbar-inverse-bg;
  font-size: @font-size-small;
  color: @resthub-white-color;
  padding: 10px 0;
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 130px;
  clear: both;

  .credentials {
    font-size: 12px;
    margin-top: 10px;
  }

  .components {
    margin-bottom: 10px;
    text-align: center;

    .component {
      margin-right: 8px;
      white-space: nowrap;

      .build-status {
        width: 10%;
      }
    }
  }
}

@media only screen and (min-width: @screen-lg-min) {
  .navbar .navbar-form input.form-control {
    width: 550px;
  }
}

@media only screen and (max-width: @screen-md-max) {
  .navbar .navbar-form input.form-control {
    width: 345px;
  }

  pre code {
    font-size: 12px;
  }
}

@media only screen and (max-width: @screen-sm-max) {
  .navbar .navbar-form input.form-control {
    width: 250px;
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .navbar {
    min-height: @navbar-height-xs;

    .container .navbar-brand {
      margin-left: 0;
      margin-right: (@navbar-padding-horizontal-xs + 4px);
      padding-top: @navbar-padding-vertical-xs;
      padding-bottom: @navbar-padding-vertical-xs;
    }

    .navbar-nav {
      > li > a {
        padding-top: @navbar-padding-vertical-xs;
        padding-bottom: @navbar-padding-vertical-xs;
      }

      &.navbar-contacts > li > a {
        padding-left: @navbar-padding-horizontal-xs;
        padding-right: @navbar-padding-horizontal-xs;
      }

      &.navbar-search {
        margin-left: 20px;
      }

      &.navbar-contacts, &.navbar-search {

        > li > a {
          padding-top: (@navbar-padding-vertical-xs - 2px);
          padding-bottom: (@navbar-padding-vertical-xs - 2px);
        }
      }
    }

    .fa {
      font-size: 26px;
    }

  }

  section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;

    article {
      font-size: @font-size-base-xs;

      h1, .h1 {
        font-size: @font-size-h1-xs;
      }
      h2, .h2 {
        font-size: @font-size-h2-xs;
      }
      h3, .h3 {
        font-size: @font-size-h3-xs;
      }
      h4, .h4 {
        font-size: @font-size-h4-xs;
      }
      h5, .h5 {
        font-size: @font-size-h5-xs;
      }
      h6, .h6 {
        font-size: @font-size-h6-xs;
      }
    }
  }

  pre code {
    font-size: @font-size-code-xs;
  }

}

@media only screen and (max-width: @screen-xxs-max) {

  .navbar {

    .container {
      padding-left: 0;
      padding-right: 0;

      .navbar-brand {
        margin-right: @navbar-padding-horizontal-xxs;
      }
    }

    .navbar-nav {
      > li > a {
        padding-left: @navbar-padding-horizontal-xxs;
        padding-right: @navbar-padding-horizontal-xxs;
        font-size: @font-size-base-xxs;
      }

      &.navbar-contacts {
        margin-left: 10px;

        > li > a {
          padding-left: 4px;
          padding-right: 4px;
        }
      }

      &.navbar-search {
        margin-left: 13px;

        > li > a {
          padding-right: 7px;
        }
      }

      &.navbar-contacts, &.navbar-search {
        > li > a {
          padding-top: (@navbar-padding-vertical-xs - 1px);
          padding-bottom: @navbar-padding-vertical-xs;
        }
      }

    }

    .fa {
      font-size: 20px;
      vertical-align: middle;
    }

  }

  section {
    padding-left: 5px;
    padding-right: 5px;

    article {
      h1, .h1 {
        font-size: @font-size-h1-xxs;
      }
      h2, .h2 {
        font-size: @font-size-h2-xxs;
      }
      h3, .h3 {
        font-size: @font-size-h3-xxs;
      }
      h4, .h4 {
        font-size: @font-size-h4-xxs;
      }
      h5, .h5 {
        font-size: @font-size-h5-xxs;
      }
      h6, .h6 {
        font-size: @font-size-h6-xxs;
      }

      ul, ol {
        padding-left: ((@grid-gutter-width / 2) + 3);
        padding-right: ((@grid-gutter-width / 2) + 3);
      }
    }

  }

  pre code {
    font-size: @font-size-code-xxs;
  }

  footer {
    font-size: @font-size-small-xxs;
    height: 110px;

    .credentials, .engine, .team {
      font-size: @font-size-small-xxs - 2px;
    }
  }
}

.make-grid-columns-float(xxs);
.make-grid(@grid-columns, xxs, width);
.make-grid(@grid-columns, xxs, pull);
.make-grid(@grid-columns, xxs, push);
.make-grid(@grid-columns, xxs, offset);

@media (min-width: @screen-xs-min) {
  .make-grid-columns-float(xs);
  .make-grid(@grid-columns, xs, width);
  .make-grid(@grid-columns, xs, pull);
  .make-grid(@grid-columns, xs, push);
  .make-grid(@grid-columns, xs, offset);
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid-columns-float(sm);
  .make-grid(@grid-columns, sm, width);
  .make-grid(@grid-columns, sm, pull);
  .make-grid(@grid-columns, sm, push);
  .make-grid(@grid-columns, sm, offset);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid-columns-float(md);
  .make-grid(@grid-columns, md, width);
  .make-grid(@grid-columns, md, pull);
  .make-grid(@grid-columns, md, push);
  .make-grid(@grid-columns, md, offset);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid-columns-float(lg);
  .make-grid(@grid-columns, lg, width);
  .make-grid(@grid-columns, lg, pull);
  .make-grid(@grid-columns, lg, push);
  .make-grid(@grid-columns, lg, offset);
}

.visible-xxs {
  .responsive-invisibility();
  @media (max-width: @screen-xxs-max) {
    .responsive-visibility();
  }
  &.visible-xs {
    @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      .responsive-visibility();
    }
  }
  &.visible-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .responsive-visibility();
    }
  }
  &.visible-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      .responsive-visibility();
    }
  }
  &.visible-lg {
    @media (min-width: @screen-sm-min) {
      .responsive-visibility();
    }
  }
}

.hidden-xxs {
  .responsive-visibility();
  @media (max-width: @screen-xxs-max) {
    .responsive-invisibility();
  }
  &.visible-xs {
    @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      .responsive-invisibility();
    }
  }
  &.hidden-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .responsive-invisibility();
    }
  }
  &.hidden-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      .responsive-invisibility();
    }
  }
  &.hidden-lg {
    @media (min-width: @screen-sm-min) {
      .responsive-invisibility();
    }
  }
}